@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #050505;
	color: #f1eee8;
	font-family: 'Inter', sans-serif;
}

.section-label,
.location,
.hero-label,
.nav,
.scroll-indicator {
	font-family: 'Roboto Mono', monospace;
}

/* NAVBAR */

.site-header {
	height: 72px;
	padding: 0 3%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: sticky;
	top: 0;
	z-index: 1000;

	background: #050505;
	border-bottom: 1px solid #222;
}

.logo img {
	width: 110px;
	height: auto;
	display: block;
}

.nav {
	display: flex;
	align-items: center;
	gap: 42px;
}

.nav a {
	color: #888;
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 4px;
}

.nav a:hover {
	color: #00e6cc;
}

.book-button {
	padding: 14px 28px;
	border: 1px solid #00e6cc;
	color: #00e6cc !important;
	transition: 0.3s ease;
}

.book-button:hover {
	background: #00e6cc;
	color: #000 !important;
}

/* HERO */

.hero {
	min-height: calc(100vh - 72px);

	background:
		linear-gradient(rgba(0, 5, 9, 0.40), rgba(0, 0, 0, 0.90)),
		url('../assets/images/hero.jpg');

	background-size: cover;
	background-position: center 38%;

	padding: 0 3% 60px;

	display: flex;
	flex-direction: column;
}

.hero-label {
	color: #00e6cc;
	font-size: 14px;
	letter-spacing: 8px;

	background: rgba(0, 0, 0, 0.65);

	width: calc(100% + 6vw);
	margin-left: -3vw;
	padding: 8px 3vw;
}

.hero-content {
	margin-top: 45px;
	max-width: 800px;
}

.hero h1 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: clamp(120px, 15vw, 230px);
	line-height: 0.82;
}

.hero h1 span {
	display: block;
	color: #00e6cc;
}

.hero-description {
	margin-top: 50px;

	max-width: 650px;

	color: #aaa;
	font-size: 18px;
	line-height: 1.8;
}

.hero-buttons {
	margin-top: 45px;
	display: flex;
	gap: 18px;
}

.hero-buttons a {
	padding: 18px 38px;

	text-decoration: none;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 13px;
}

.primary-button {
	background: #00e6cc;
	color: #050505;
}

.secondary-button {
	border: 1px solid #666;
	color: #f1eee8;
}

/* SCROLL  */

.scroll-indicator {
	margin-top: auto;
	display: flex;
	align-items: center;
	gap: 16px;
	color: #8d8d8d;
	font-size: 12px;
	letter-spacing: 3px;
}

.scroll-line {
	flex: 1;
	height: 1px;
	background: #2b2b2b;
}

.scroll-arrow {
	color: #00e6cc;
	font-size: 18px;
}

/* ABOUT */

.about {
	padding: 160px 3vw 150px;
	background: #050505;
}

.section-label {
	color: #00e6cc;
	font-size: 14px;
	letter-spacing: 6px;
	margin-bottom: 35px;
}

.about-grid {
	display: grid;
	grid-template-columns: minmax(260px, 0.8fr) minmax(0, 1.7fr);
	gap: clamp(50px, 7vw, 110px);
	align-items: start;
}

.about-left h2 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 72px;
	line-height: 0.92;
	margin-bottom: 40px;
}

.about-image {
	width: 100%;
	max-width: 540px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	display: block;
	border: 1px solid #164e48;
	border-bottom: 3px solid #00e6cc;
}

.location {
	margin-top: 18px;
	color: #888;
	font-size: 13px;
	letter-spacing: 3px;
}

.about-right {
	padding-top: 40px;
}

.about-text p {
	max-width: 1050px;
	color: #aaa;
	font-size: 15px;
	line-height: 1.75;
	margin-bottom: 28px;
}

.about-highlight {
	color: #f1eee8 !important;
	font-weight: 700;
}

.about-highlight span {
	color: #00e6cc;
}

.services {
	margin-top: 65px;
	padding-top: 45px;
	border-top: 1px solid #292929;
}

.services h3 {
	color: #00e6cc;
	font-size: 13px;
	letter-spacing: 6px;
	margin-bottom: 35px;
	font-weight: 1;
}

.services-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	column-gap: 50px;
	row-gap: 32px;
}

.service {
	padding-left: 24px;
	border-left: 1px solid #333;
}

.service h4 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 22px;
	margin-bottom: 10px;
}

.service p {
	color: #888;
	line-height: 1.7;
}

.about-image-wrap {
	position: relative;
	max-width: 540px;
}

.about-image-wrap::before {
	content: "";
	position: absolute;
	top: -14px;
	left: -14px;
	width: 100%;
	height: 100%;
	border: 1px solid #164e48;
	z-index: 0;
}

.about-image {
	position: relative;
	z-index: 1;
	width: 100%;
	display: block;
	border-bottom: 3px solid #00e6cc;
}

@media (max-width: 700px) {

	.about {
		padding: 80px 4vw;
	}

	.about-grid {
		grid-template-columns: 1fr;
		gap: 45px;
	}

	.about-image-wrap {
		width: 100%;
		max-width: none;
	}

	.about-image {
		width: 100%;
		max-width: none;
		aspect-ratio: 1 / 1;
		object-fit: cover;
	}

	.about-right {
		padding-top: 0;
	}

	.about-text p {
		max-width: 100%;
		font-size: 16px;
	}

	.services-grid {
		grid-template-columns: 1fr;
	}
}